/* CSS dos contatos */
.row {
    display: flex;
}
.col1 {
    flex-grow: 1;
    padding-right: 1.5rem;
}
.col2 {
    width: 250px;
    border-left: 3px dotted orangered;
    padding-left: 1rem;
}
.col2 img {
    width: 100%;
    display: block;
    margin: auto;
}
.col2 ul {
    list-style: none;
    font-size: 1.2rem;
}
.col2 p {
    text-align: center;
}

.col1 form {
    display: block;
}
.col1 label {
    display: block;
    margin: 0 0 .3rem .5rem;
}
.col1 input, .col1 textarea, .col1 button {
    border: 1px solid rgb(189, 189, 189);
    padding: .3rem .6rem;
    border-radius: .3rem;
    font-size: inherit;
    font-family: inherit;
}
.col1 input, .col1 textarea {
    width: 100%;
}
.col1 textarea {
    height: 6rem;
}
.col1 button {
    background: linear-gradient(rgb(81, 155, 212), rgb(4, 87, 155));
    color: #fff;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 2rem;
}
.col1 button:hover {
    background: linear-gradient(rgb(236, 129, 90), rgb(161, 46, 4));
}
.col1 button + small {
    color: red;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col1 {
        padding: 0;
    }
    .col1 button + small {
        display: none;
    }
    .col2 {
        border: 0;
        border-top: 3px dotted orangered;
        width: 100%;
        margin-top: 2rem;
    }
    .col2 img {
        max-width: 400px;
    }
}