/* CSS Reset */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 16px;
    font-family: consolas, monospace;
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover {
    color: orangered;
    text-decoration: underline;
}
p {
    margin: 1rem 0;
}

/* Background */
body {
    background-attachment: fixed;
    background-image: url("/img/fundo02.jpg");
    background-repeat: repeat;
}

/* Frame */
.wrap {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background: rgba(255,255,255,.9);
}

/* Cabecalho */
.header {
    background: orangered;
    display: flex;
    align-items: center;
}
.header img {
    display: block;
    width: 90px;
    height: 90px;
}
.header h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    margin-left: 1rem;
    text-align: center;
    /* text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000; */
    -webkit-text-stroke: 1px #000;
}
.header small {
    display: block;
    font-size: .95rem;
    font-weight: normal;
    -webkit-text-stroke: 0px;
}

/* Conteúdo central */
.main {
    padding: 0 1.2rem;
}

/* Rodapé */
.footer {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    text-align: center;
}
.footer > a {
    color: #fff;
    padding: .8rem;
}
.footer > a:hover {
    background: orangered;
    text-decoration: none;
}
.footer > div {
    font-style: italic;
}
.footer > div div {
    font-size: .75rem;
    margin-top: .3rem;
    font-style: normal;
}
.footer > div a {
    color: #ccc;
}

/*  Classes úteis */
.responsivo {
    width: auto;
    max-width: 100%;
}

/* Stick footer - Rodapé embaixo quando sem barra de rolagem */
.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex-grow: 1;
}

/* Menu principal responsivo */
.nav {
    background: #000;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.nav a {
    display: block;
    padding: .8rem;
    color: #fff;
}
.nav a:hover, .active {
    background: orangered;
    text-decoration: none;
}
.nav > a:first-child {
    margin-right: auto;
}
#menulinks {
    display: none;
    background: #333;
    position: absolute;
    top: 2.84rem;
    left: 0;
    box-shadow: 5px 5px 5px #888;
    min-width: 70%;
}

@media (min-width: 575px) {
    #menulinks {
        display: inline-block;
        background: inherit;
        position: relative;
        top: auto;
        left: auto;
        box-shadow: none;
        min-width: auto;
    }
    .nav a {
        display: inline-block;
    }
    .nav > a:last-child {
        display: none;
    }
}